rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;

      match /appointments/{appointmentId} {
        allow read, write: if request.auth.uid == userId;
      }

      match /favorites/{clinicId} {
        allow read, write: if request.auth.uid == userId;
      }
    }

    match /clinics/{clinicId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == clinicId;

      match /appointments/{appointmentId} {
        allow read, write: if request.auth != null;
      }
    }
  }
}